
@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

/* main blue colors used for general website */
$main-blue: #67AEC1;
$lighter-blue: #9AD2DF;
$lightest-blue: #DFF9FF;
$darker-blue: #37859A;
$darkest-blue: #39626A;


$light-red: #ED7D7D;
$dark-red: #C21919;

/* accent colors used for data visualization */
$accent-red: #EB5757;
$accent-orange: #F2994A;
$accent-yellow: #F2C94C;
$accent-green: #219653;
$accent-blue: #2F80ED;
$accent-aqua: #42aebc;
$accent-purple: #9B51E0;
$accent-pink: #D8269B;

/* font */
$sans-serif-font: "Roboto", sans-serif;
$serif-font: "Noto Serif", serif;
$nav-bar-font-size: 12px;
$body-font-size: 12px;
$data-label-font-size: 8px;
