@import 'global_variables.scss';

html, body, #root {
    margin: 0;
    height: 100%;
    font-family: 'Roboto';
}

.app-wrapper {
  text-align: center;
  margin: 0;
  height: 100%;
  background-color: white;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}*/

.app-header {
  background-color: #9AD2DF;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  height: 10vh;
}

.report-wrapper{
  display: flex;
  flex-direction:row;
  height:90vh;
}

.scroll-wrapper {
  
  flex: 5vw;
  border-right: 6px solid lightgrey;
}


.content-wrapper {
  /*background-color: #37859A;*/
  flex: 92vw;
  margin: 5%;
}

.menu-item {
  display: inline;
  padding: 5vh;
}

.scroll-item{
  display: block;
  margin-top: 20vh;
  margin-bottom: 0vh;
  transform-origin: center;
  transform: rotate(-90deg);

  
}

img{
  height: 400px;
  width: auto;
}

/*.App-link {
  color: #61dafb;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
