@import "globalvars";

html, body, #root {
    margin: 0;
    height: 100%;
}

.app-wrapper {
  text-align: center;
  margin: 0;
  height: 100%;
  background-color: white;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}*/

.app-header {
  background-color: $main-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5%;
}

.app-header a {
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-family: $sans-serif-font;
  letter-spacing: 1px;
}

.report-wrapper{
  display: flex;
  flex-direction:row;
  height: 95%;
  font-family: $serif-font;
}

.scroll-wrapper {
  flex: 5vw;
  height: 100%;
  border-right: 3px solid lightgrey;
  position: fixed;
}

.scroll-wrapper a {
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  color: black;
  font-weight: lighter;
  font-family: $sans-serif-font;
  letter-spacing: 1px;
}


.content-wrapper {
  /*background-color: #37859A;*/
  flex: 92vw;
  margin: 5%;
}

.menu-item {
  display: inline;
  padding: 5vh;
}

.scroll-item{
  display: block;
  margin-top: 20vh;
  margin-bottom: 0vh;
  transform-origin: center;
  transform: rotate(-90deg);


}

img{
  height: 400px;
  width: auto;
}

/*.App-link {
  color: #61dafb;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
