.storiesContainer {
  display: flex;
  flex-direction: row wrap;
  flex-wrap: wrap;
  justify-content: left;
  /* display:inline; */

}

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  outline: 4px solid lightgray;
  text-align: left;
  /*width: 325px;*/
  width: 20vw;
  /*height: 225px;*/
  height: 35vh;
  margin: 20px;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.content {
  font-size: 12px;
  font-style: oblique;
  line-height: 1.6;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -10px;
}
