#content {
	padding-top: 51px;
	background-color: rgb(207,209,210);
}

.header {
	margin: 30px auto;
	display: block;
}

.home_text {
	font-size: 20px;
}

form {
	font-size: 24px;
}
#stats > img {
	margin: auto;
}

#mission {
	margin-top: 50px;
}

#definitions .thumbnail {
	background-color: rgb(73,177,197);
	color: rgb(41,99,108);
	text-align: center;
}

input[type="radio"] {
	margin: 10px 8px 0px;
}

#projects iframe {
	margin: auto;
	display: block;
}

.navbar-right img {
	margin-top: 8px;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.section_page {
	padding: 50px;
	height: 100%;
}

#logo {
	margin-top: 50px;
}

#donate button {
	display: block;
	margin: auto;
}

#donate img {
	display: block;
	margin: auto;
	margin-top: 15px;
}

footer{
	display:block;
	color: white;
	text-align: center;
	background-color:#212121;
	box-shadow: 0 -1px 2px #111;
	position:fixed;
	width:100%;
	height:70px;
	bottom:0;
	left:0;
	z-index: 100000;
	padding-top: 15px;
	padding-bottom: 15px;
}

footer h2{
	font-size:20px;
	font-weight:normal;
	left:50%;
	margin-left:-400px;
	padding:22px 0;
	position:absolute;
	width:400px;
	color:#eee;
}

footer a.tzine,a.tzine:visited{
	background:url("images/newspapers/tzine.png") no-repeat right top;
	border:none;
	text-decoration:none;
	color:#FCFCFC;
	font-size:12px;
	height:70px;
	left:50%;
	line-height:31px;
	margin:23px 0 0 110px;
	position:absolute;
	top:0;
	width:290px;
}

#background {
	width: 100%;
	height: 200px;
}

textarea.form-control{
	text-align: left;
	font-size: 24px;
}

nav {
	font-size: 20px;
}

#active {
	color: black;
}
form {
	margin: 5px;
}

#active a {
	text-decoration: none;
	background-color: rgb(238, 238, 238);
	color: black;
}

#last-iframe {
	margin-bottom: 100px;
}

#submit_div {
	margin: 10px;
}


.img-responsive {
	margin: 0 auto;
}
