@import "globalvars";

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
}

.app-wrapper {
    text-align: center;
    margin: 0;
    height: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
}

.app-header {
    position: fixed;
    width: 100%;
    background-color: $main-blue;
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: center;

}

.app-header a {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-family: $sans-serif-font;
    letter-spacing: 1px;

}

.report-wrapper {
    flex: 95vh;
    display: flex;
    flex-direction: row;
    height: 100%;
    font-family: $sans-serif-font;
}

.report-wrapper p {
    font-family: $serif-font;
}

.content-wrapper {
    /*background-color: #37859A;*/
    /*flex: 92vw;*/

    flex: 95vw;
    // overflow: auto;
    padding-top: 6%;

    align-items: center;
    justify-content: center;
    height: 100%;
    overflow:auto;
}

.scroll-wrapper {
    float: left;
    flex: 5vw;
    height: 100%;
    border-right: 3px solid lightgrey;
    width: 30px;
    /*position: fixed;*/
}

.scroll-wrapper a {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-family: $sans-serif-font;
    letter-spacing: 1px;
}

/*.main-wrapper {
    margin-left: -3vw;
}*/

.convention-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-item {
    display: flex;
    align-items: center;
    /*padding-top: 2vh;
    padding-bottom: 2vh;*/
    padding-left: 5vh;
    padding-right: 5vh;
    //height: 100%;
    height: 7vh;
}

.menu-item:hover {
  background-color: $lighter-blue;
}

.scroll-item {
    display: block;
    margin-top: 20vh;
    margin-bottom: 0vh;
    transform-origin: center;
    transform: rotate(-90deg);
}

.main-title {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: $other;
    color: black;
    padding-bottom: 3%;
    margin-top: 5%;
    text-transform: uppercase;
}

.divider {
    height: 3px;
    width: 20%;
    background-color: $main-blue;
}

.main-date {
    font-size: 30px;
    font: $other;
    color: black;
    padding: 10px;
}

.convention-text-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text {
    width: 50%;
    text-align: left;
    font-family: "Open Sans";
    padding: 20px 0px;
    font-size: 12px;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper-title {
    margin-bottom: 50px;
    margin-top: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: $other;
    font-weight: $font-weight;

}

#demographics-column {
    width: 49.5%;
    border-left: 2px solid lightgrey;
    min-width: 500px;
}

#statistics-column {
    width: 49.5%;
    border-right: 2px solid lightgrey;
    min-width: 500px;
}

#statistics-chart-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.rectangle-chart text {
    fill: #000;
    font: 11px sans-serif;
    text-anchor: initial;
    font-family: Arial;
}

.tooltip {
    position: absolute;
    display: none;
    width: auto;
    background: rgba(54, 54, 54, 0.5);
    color: white;
    font-size: 10px;
    padding: 6px;
    border-radius: 2px;
    text-align: center;
    font-family: Arial;
}

.chart-container {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
}

.chart-container p {
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 4px;
    font-family: Arial;
    font-size: 10px;
}

.bar-chart text {
    fill: #000;
    font: 11px sans-serif;
    font-family: Arial;
}

#home-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 300px;
    height: auto;
    margin-left: -70px;
}

#home-title-wrapper {
    width: 100%;
    height: 240px;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

#eatc-1,
#eatc-2 {
    font-size: 30px;
    color: #67AEC1;
    font-family: "Open Sans";
    font-weight: 700;
    letter-spacing: 2px;
    text-align: right;
}

#eatc-3 {
    position: relative;
    font-size: 25px;
    color: #67AEC1;
    font-family: "Open Sans";
    font-weight: 600;
    letter-spacing: 2px;
    text-align: right;
}

#home-eatc-wrapper {
    margin-top: 140px;
    margin-right: -60px;
    margin-left: 60px;
}

#home-description {
    width: 40%;
    display: flex;
}

#home-description p {
    font-family: "Open Sans";
    padding: 20px 0px;
    font-size: 12px;
    text-align: left;
}

.accent {
    color: #37859A;
}

.accent:hover {
    color: #67AEC1;
}

.home-divider {
    height: 3px;
    width: 25%;
    background-color: #37859A;
}

#believe-text {
    font-size: 20px;
    color: #67AEC1;
    font-family: "Open Sans";
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 100px;
}

#believe-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#believe-box {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: row;
    // border: 2px solid #39626A;
    // box-shadow: 10px 10px #67AEC1;
    margin: 20px;
    align-items: center;
}

#believe-box p {
    width: 80%;
    font-family: "Open Sans";
    font-size: 10px;
    text-align: left;
}

.icon {
    font-size: 40px;
    color: #39626A;
    margin: 20px;
}

#button-wrapper {
  display: flex;
  flex-direction: row;
}

.convention-button {
  border-radius: 50%;
  border: 2px solid black;
  height: 30px;
  width: 30px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.convention-icon {
    font-size: 20px;
    color: black;
    padding-top: 5px;
}

#survey-title-wrapper {
  background-color: rgba(103, 174, 193, .5);
  opacity: 20%;
  margin: 40px;
  width: 60vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#survey-title {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: $other;
  color: black;
  margin-top: 5%;
  margin-bottom: 1%;
  text-transform: uppercase;
}

#survey-information {
  width: 80%;
  text-align: left;
  font-family: "Open Sans";
  // padding: 20px 0px;
  margin-top: 1%;
  margin-bottom: 5%;
  font-size: 14px;
  color:black;
}

#survey-form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  // justify-content: center;
  // align-items: center;
}

.survey-header {
  position: relative;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  padding-left: 0px;
  margin-top: 15%;
}

#survey-subheader {
  text-align: left;
  font-family: "Open Sans";
  font-size: 14px;
  grid-column: 1 / 3;
  padding-bottom: 10px;
}

.survey-question {
  display: grid;
  grid-template-columns: .6fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  align-items: center;
  font-size: 14px;
  font-family: "Open Sans";
  height: 50px;
}

.question-text {
  text-align: left;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.radio-row {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: left;
  text-align: left;
  width: 100%;
}

#gender-other {
    position: relative;
    min-width: 60px;
}

.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}

#demographic-info {
  margin-top: 30px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

#footer {
  background-color: $main-blue;
  width: 100%;
  height: 100px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Open Sans";
  font-size: 12px;
}

a:link {
  color: black;
  font-family: "Open Sans";
  font-size: 12px;
}

#footer p {
  margin: 0;
}

.radio-row textarea {
     width: calc(100% - 22px);
     min-height: 80px;
     box-shadow: none;
     margin-left: 20px;
     border: 0px solid grey;
     background: 	#F0F0F0;
     resize: none;
}

.surveyFill {
    height: 100px;
    margin-top: 5%;
}

.filltext {
  align-self: start;
}

#demo-left{
  grid-column: 1 / 2;
}

#demo-left textarea {
  width: 100%;
  box-shadow: none;
  border: 0px solid grey;
  background: 	#F0F0F0;
  height: 20px;
  resize: none;
}

#nice {
  width: 100%;
  box-shadow: none;
  border: 0px solid grey;
  background: 	#F0F0F0;
  height: 20px;
}

#demo-right{
  grid-column: 2 / 3;
}

.question-text-demo {
  margin-top: 15px;
  margin-bottom: 7px;
  text-align: left;
  font-family: "Open Sans";
  font-size: 14px;
}

#event-info {
  padding-bottom: 20px;
}

.multipleChoice-rows {
  text-align: left;
}

.multOptions {
  margin-top: -20px;
  margin-bottom: -30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0px;
}

.multOptions span {
  margin-left: 0px;
}
.buttonContainer {
  width: 100%;
  text-align: right;
  margin-top: 20px;
}

#submitButton, #returnHomeButton {
  background-color: rgba(103, 174, 193, .2);
  font-family: $sans-serif-font;
  border: none;
  width: 150px;
  font-weight: 600;
  height: 40px;
  text-transform: uppercase;
}

#submitButton:hover{
  background-color: rgba(103, 174, 193, .1);
  cursor: pointer;
}

#returnHomeButton:hover{
  background-color: rgba(150, 174, 193, 1);
  cursor: pointer;
}

#ugh {
  margin-left: 5px;
  margin-top: 5px;
  width: calc(100% - 33px);
  box-shadow: none;
  border: 0px solid grey;
  background: 	#F0F0F0;
  height: 20px;
  resize: none;
}

input[type="radio"] + .leftradio {
  margin-left: 0px;
}

@media only screen and (max-width: 1100px) {
  #demographics-column {
    border-left: 0px solid transparent;
    min-width: 500px;
  }
  #statistics-column {
    border-right: 0px solid transparent;
    min-width: 500px;
  }
}
@media screen and (max-width:1000px) {
  #survey-title-wrapper {
    background-color: rgba(103, 174, 193, .2);
    opacity: 20%;
    margin: 10px;
    width: 80vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #survey-title {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: $other;
    color: black;
    margin-top: 8%;
    margin-bottom: 0%;
    text-transform: uppercase;
  }

  #survey-information {
    width: 80%;
    text-align: left;
    font-family: "Open Sans";
    // padding: 20px 0px;
    margin-top: 0%;
    margin-bottom: 6%;
    font-size: 12px;
  }
}

@media screen and (max-width:680px) {
  #submitButton {
    background-color: rgba(103, 174, 193, 0.2);
    font-family: "Roboto", sans-serif;
    border: none;
    width: 100px;
    font-weight: 600;
    margin-right: 45px;
    left: initial;
    height: 40px;
    text-transform: uppercase;
}
  #survey-title-wrapper {
    background-color: rgba(103, 174, 193, .2);
    opacity: 20%;
    margin: 0;
    width: 100vw;
    height: 74vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #survey-title {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 2px;
    font-family: $other;
    color: black;
    margin-top: 10%;
    margin-bottom: 0%;
    text-transform: uppercase;
  }

  #survey-information {
    width: 80%;
    text-align: left;
    font-family: "Open Sans";
    // padding: 20px 0px;
    margin-top: 0%;
    margin-bottom: 6%;
    font-size: 12px;
  }



  #survey-subheader {
    text-align: left;
    font-family: "Open Sans";
    font-size: 12px;
    grid-column: 1 / 3;
    padding-bottom: 10px;
  }

  .survey-question {
    display: grid;
    grid-template-columns: 0.6fr 0.80fr;
    grid-template-rows: 1.2fr;
    grid-column-gap: 15px;
    align-items: center;
    font-size: 12px;
    font-family: "Open Sans";
    height: 50px;
    margin-left: 8px;
  }

  .question-text {
    font-family: "Open Sans";
    // font-size: 14px;
    text-align: left;
    // margin-top: 10%;
    // margin-bottom: 30%;
    // padding: 10px;
  }

  .radio-row {
    font-family: "Open Sans";
    justify-self: center;
    text-align: center;
    width: 80%;
  }

  .form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
  }

  #demographic-info {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 8px;
    margin-left: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
  }


.question-text-demo {
  margin-top: 15px;
  margin-bottom: 7px;
  text-align: left;
  font-family: "Open Sans";
  font-size: 12px;
}
}

@media screen and (max-width:425px) {
  .survey-question {
    display: grid;
    grid-template-columns: 0.6fr 0.6fr;
    grid-template-rows: 1.2fr;
    grid-column-gap: 15px;
    align-items: center;
    font-size: 12px;
    font-family: "Open Sans";
    height: 50px;
}
.chart-container {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: row;
}

div#bar-chart-container {
  display: flex;
  flex-direction: column;
  margin-left: 170px;
  margin-right: 1px;
}

#demographics-column {
  width: 100%;
  border-style: none;
  margin-left: 70px;
}

.wrapper-title{
  margin-left: -30px;
}
}

@media screen and (max-width:375px) {
  .survey-question {
    display: grid;
    grid-template-columns: 0.6fr 0.8fr;
    grid-template-rows: 1.2fr;
    grid-column-gap: 15px;
    align-items: center;
    font-size: 12px;
    font-family: "Open Sans";
    height: 50px;
}
}

@media screen and (max-width:320px) {
  .survey-question {
    display: grid;
    grid-template-columns: 0.75fr 1.5fr;
    grid-template-rows: 1.2fr;
    grid-column-gap: 3px;
    align-items: center;
    font-size: 12px;
    font-family: "Open Sans";
    height: 75px;
  }


}
