@import "globalvars";

.filterContainer {
  display: flex;
  justify-content: space-between;
}

.storiesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  margin: auto;
  text-align: center;
}

#storyCenters {
  width: 80%;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 20px;
  text-align: left;
  position: sticky;
  top: 0;
  bottom: 0;
  height: 80vh;
  width: 20%;
}

.card {
  outline: 4px solid lightgray;
  text-align: left;
  width: 15vw;
  min-width: 200px;
  height: 35vh;
  margin: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 1px;
  padding-bottom: 10px;
}

.content {
  font-size: 12px;
  // font-style: oblique;
  line-height: 1.6;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -10px;
}


input[type="radio"] {
  display: inline-block;
  position: relative;
  top: 0px;
  width: 12px;
  height: 12px;
  border: 10px solid $darker-blue;
  cursor: pointer;
  border-radius: 50%;
  margin: 10px;
  background: white left top no-repeat;
}

input[type="radio"] + span {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: white left top no-repeat;
  border: 3px solid $darker-blue;
  cursor: pointer;
  border-radius: 50%;
  margin: 20px;
}

input[type="radio"]:checked + label .check{
  background-color: $main-blue;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: auto;
  margin-top: 3px;
}

label {
  font-family: "Open Sans";
  font-size: 14px;
  padding: 5px;
}

h4 {
  text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: $other;
    font-weight: $font-weight;
}
